<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Report Jobs - UTrello</title>
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body class="event-page">

  <div class="logout-container">
    <a href="/logout" class="logout-button">Logout</a>
  </div>

  <div class="username-container">
    <% string username = context["username"]; %>
    <span class="username">👤 <% cout << username; %> </span>
  </div>

  <div class="center-title task-title">
    <h1>UTrello</h1>
  </div>

  <div class="form-container">
    <h2>Get a New Report</h2>
    <form action="/report-jobs" method="POST">
      <input type="hidden" name="username" value="<% cout << username; %>">

      <label for="date">From Date</label>
      <input type="text" id="fromdate" name="fromdate">

      <label for="date">To Date<span class="required">*</span></label>
      <input type="text" id="todate" name="todate" required>

      <label for="type">Job Type</label>
      <input type="text" id="jobtype" name="jobtype">

      <button type="submit">Get Report</button>
    </form>

    <a href="/main?username=<% cout << username; %>" class="back-link">← Back to Main Menu</a>
  </div>

</body>
</html>