<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>UTrello - Dashboard</title>
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body class="auth-page">

  <div class="logout-container">
    <a href="/logout" class="logout-button">Logout</a>
  </div>

  <div class="username-container">
    <% string username = context["username"]; %>
    <span class="username">👤 <% cout << username; %> </span>
  </div>

  <div class="center-title main-title">
    <h1>UTrello</h1>
  </div>

  <div class="main-menu">
    <div class="menu-section">
      <h2>🗒️ Tasks</h2>
      <a href="create-task?username=<% cout << username; %>" class="menu-link">Create Task</a>
      <a href="edit-task?username=<% cout << username; %>" class="menu-link">Edit Task</a>
      <a href="delete-task?username=<% cout << username; %>" class="menu-link">Delete Task</a>
    </div>

    <div class="menu-section">
      <h2>📆 Events</h2>
      <a href="/create-event?username=<% cout << username; %>" class="menu-link">Create Event</a>
      <a href="create-periodic-event?username=<% cout << username; %>" class="menu-link">Create Periodic Event</a>
      <a href="create-join-event?username=<% cout << username; %>" class="menu-link">Create Join Event</a>
    </div>

    <div class="menu-section">
      <h2>📨 Invitations</h2>
      <a href="check-invitations?username=<% cout << username; %>" class="menu-link">Check & Respond</a>
    </div>

    <div class="menu-section">
      <h2>📊 Reports</h2>
      <a href="report-jobs?username=<% cout << username; %>" class="menu-link">Report Jobs</a>
    </div>
  </div>
</body>
</html>